:root {
    --color-violet: hsl(257, 40%, 49%);
    --color-magenta: hsl(300, 69%, 71%);
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--color-violet);
    color: white;
    font-size: 17px;
    font-weight: 400;

    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
    font-size: 15px;
}
